
/*
flex item 的属性

flex-grow 增长比例
flex-shrink 收缩比例
flex-basis 默认大小
flex 上面三个的缩写
order 顺序
align-self 自身的对齐方式
*/

.child{
    width: 100px;
    height: 50px;
    background: white;
    margin: 10px;
}

/*
flex container的属性

flex-direction 方向
flex-wrap 换行
flex-flow 上面两个的简写
justify-content 主轴方向对齐方式
align-items 侧轴对齐方式
align-content 多行/列对齐方式
*/

.parent{
    display: flex;
    background: #dddddd;
    flex-direction: row;
    flex-wrap: wrap;
    height: 350px;
    justify-content: space-around;
    align-items: normal;
}