header {
    height: 50px;
    background: #dddddd;
}
footer{
    height: 50px;
    background: #dddddd;
}
.content{
    display: flex;
}
.content > aside {
    width: 120px;
    background: #444444;
}
.content > main {
    height: 400px;
    flex: 1;
    background: skyblue;
}
.content > nav {
    width: 100px;
    background: green;
}