* {
    margin:0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 350px;
    margin: auto;
    border: 1px solid black;
    justify-content: space-between;
}

li {
    width: 100px;
    height: 100px;
    background: #dddddd;
    border: 1px solid red;
    margin: 10px 0;
}